@font-face {
  font-family: 'iconfont'; /* project id 3269316 */
  src: url('');
  src: url('?#iefix') format('embedded-opentype'),
    url('//at.alicdn.com/t/font_3269316_6vscf7hmjkk.woff2') format('woff2'),
    url('//at.alicdn.com/t/font_3269316_6vscf7hmjkk.woff') format('woff'),
    url('//at.alicdn.com/t/font_3269316_6vscf7hmjkk.ttf') format('truetype'), url('#iconfont') format('svg');
}

body {
  background-color: #41ab6b;
  display: flex;
  align-items: center;
  height: 80vh;
  justify-content: center;
  flex-direction: column;
}

.wrap {
  margin: 0 auto;
  text-align: center;
  padding: 2em 0 3em;
}

.icon {
  display: inline-block;
  font-size: 0px;
  text-decoration: none;
  margin: 15px 30px;
  position: relative;
  color: #fff;
  cursor: pointer;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  text-align: center;;
  z-index: 1;
}

.icon-1::before {
  content: '\e60b';
}

.icon-2::before {
  content: '\ebbb';
}

.icon::before {
  font-family: 'iconfont';
  font-size: 48px;
  line-height: 80px;
  display: block;
}

.icon::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-sizing: content-box;
}

.wrap .icon {
  background-color: rgba(255, 255, 255, 0.1);
}

.wrap .icon::after {
  top: -7px;
  left: -7px;
  padding: 7px;
  box-shadow: 0 0 0 4px #fff;
  transform: scale(0.8);
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
}

.icon-1:hover {
  color: #41ab6b;
  background-color: #fff;
}


.wrap-2 .icon::after {
  transform: scale(1.2);
  opacity: 0;
  transition: transform 0.2s, opacity 0.2s;
}

.icon-2:hover {
  background-color: #fff;
  color: #41ab6b;
}

.icon-1:hover::after,
.icon-2:hover::after {
  transform: scale(1);
  opacity: 1;
}